html,
body,
* {
  box-sizing: border-box;
  font-size: 10px;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(45deg, rgb(255, 156, 230), rgb(106, 197, 250));
  background-size: 100% 100%;
  animation: gradient 5s ease infinite;
  text-align: center;
  color: white;
}
:root {
  /* Type */
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
  --smallText: 0.8rem;
}
h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}
#form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
}
.user-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.text-box {
  width: 22rem;
  height: 2.5rem;
  font-size: 2rem;
}
.form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  height: 10vh;
}
.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin: 1rem;
  font-size: 2rem;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0 0.4rem rgb(192, 185, 185), 
  0 0 0.9rem rgb(214, 205, 205),
  0 0 0.9rem rgb(119, 247, 208), 
  0 0 1.4rem rgb(98, 213, 248), 
  0 0 1.8rem rgb(0, 217, 255),
  0 0 2.3rem rgb(134, 144, 151), 
  0 0 2.3rem rgb(52, 195, 252), 
  0 0 2.8rem #0fa;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0 0.4rem rgb(192, 185, 185), 
  0 0 0.9rem rgb(214, 205, 205),
  0 0 0.9rem rgb(119, 247, 208), 
  0 0 1.4rem rgb(98, 213, 248), 
  0 0 1.8rem rgb(0, 217, 255),
  0 0 2.3rem rgb(134, 144, 151), 
  0 0 2.3rem rgb(52, 195, 252), 
  0 0 2.8rem #0fa;
}

.display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
  margin: 2rem auto;
}
.display-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 26%;
  height: 55rem;
  margin: 1rem auto;
  background-color: #ffffff;
  color: white;
  align-items: center;
}
.display-img {
  width: 50%;
  height: auto;
}
.display-artist,
.display-album {
  font-size: var(--h3);
}
.remove {
  padding: 1rem 2rem;
  display: inline-block;
  margin: 1rem;
  font-size: 1rem;
  border: none;
  background-color: red;
  color: white;
}
.flex-container {
  width: 100%;
  height: auto;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Poppins', sans-serif; 
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
h1{
  display:inline-block;
  font-size: 4.5vw;
  letter-spacing: 1rem;
  color: #fff;
  text-shadow: 
  0 0 0.4rem rgb(192, 185, 185), 
  0 0 0.9rem rgb(214, 205, 205),
  0 0 0.9rem rgb(119, 247, 208), 
  0 0 1.4rem rgb(98, 213, 248), 
  0 0 1.8rem rgb(0, 217, 255),
  0 0 2.3rem rgb(134, 144, 151), 
  0 0 2.3rem rgb(52, 195, 252), 
  0 0 2.8rem #0fa;
  animation: glow 3s ease infinite;
  animation-timing-function: ease-in-out;
}
@keyframes glow {
  25% {
      text-shadow:
      0 0 0.6rem rgb(192, 185, 185), 
      0 0 1.1rem rgb(214, 205, 205),
      0 0 1.1rem rgb(119, 247, 208), 
      0 0 1.7rem rgb(98, 213, 248), 
      0 0 2.2rem rgb(0, 217, 255),
      0 0 2.3rem rgb(134, 144, 151), 
      0 0 2.3rem rgb(52, 195, 252), 
      0 0 3.5rem #0fa;
  }
  50% {
   text-shadow: 
   0 0 0.3rem rgb(192, 185, 185), 
   0 0 0.8rem rgb(214, 205, 205),
   0 0 0.9rem rgb(119, 247, 208), 
   0 0 1.3rem rgb(98, 213, 248), 
   0 0 1.5rem rgb(0, 217, 255),
   0 0 2rem rgb(134, 144, 151), 
   0 0 2rem rgb(52, 195, 252), 
   0 0 2.5rem #0fa;
  }
  75% {
   text-shadow:
   0 0 0.6rem rgb(192, 185, 185), 
   0 0 1.1rem rgb(214, 205, 205),
   0 0 1.1rem rgb(119, 247, 208), 
   0 0 1.7rem rgb(98, 213, 248), 
   0 0 2.2rem rgb(0, 217, 255),
   0 0 2.3rem rgb(134, 144, 151), 
   0 0 2.3rem rgb(52, 195, 252), 
   0 0 3.5rem #0fa;
}
  }